@import "fonts.css";
/*BASIC CONF*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  border: none;
  background: none;
}
/*BASIC CONF*/
/*UNIQUE CONF*/
.grid {
  display: grid;
  &_col {
    &-6 {
      grid-template-columns: 1fr 1fr;
    }
    &-4 {
      grid-template-columns: 1fr 1fr 1fr;
    }
    &-3 {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
.d-flex {
  display: flex;
}
.align {
  &-center {
    align-items: center;
  }
  &-left {
    align-items: flex-start;
  }
}
.align-center {
  align-items: center;
}
.justify {
  &-center {
    justify-content: center;
  }
  &-between {
    justify-content: space-between;
  }
}
.flex-column {
  flex-direction: column;
}
.h-100 {
  height: 100%;
}
.container {
  max-width: 1120px;
  padding: 0 10px;
  margin: 0 auto;
  width: 100%;
}
.btn {
  &-price {
    width: 161px;
    height: 44px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #1D253C;
    border: 1px solid rgba(29, 37, 60, 0.2);
    border-radius: 4px;
  }
  &-orange {
    width: 220px;
    height: 61px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #F46752;
    border: 1px solid rgba(29, 37, 60, 0.2);
    border-radius: 4px;
  }
  &-hollow {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #126F86;
  }
  }
.section {
  &_subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #F46752;
  }
  &_title {
    font-weight: 500;
    font-size: 45px;
    line-height: 52px;
    color: #1D253C;
  }
  &-desc {
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: #5A6482;
  }
}
/*UNIQUE CONF*/
/* SECTION HEADER */
.header {
  height: 105px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  & .container {
    max-width: 1340px;
  }
  &_link {
    position: relative;
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1D253C;
    margin-left: 35px;
    transition: .15s;
    &:before {
      content: "";
      position: absolute;
      bottom: -2.5px;
      left: 0;
      height: 1px;
      width: 0;
      background: #007188;
      transition: .4s;
    }
    &:hover {
      color: #007188;
      &:before {
        width: 100%;
      }
    }
  }
  &_log-in {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1D253C;
    margin-right: 39px;
  }
}
/*SECTION HEADER */
/* SECTION HERO */
.hero {
  height: 100vh;
  background: url("../images/hero.png") no-repeat right;
  background-position-y: 17px;
  & .container {
    max-width: 1270px;
  }
  &_content {
    padding-top: 27px;
  }
  &_subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  }
  &_title {
    width: 463px;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
  }
  &_desc {
    width: 411px;
    margin: 26px 0 40px;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
  }
}
/* SECTION HERO */
/*SECTION FUTURE*/
.future {
  padding: 85px 0;
  background: #F9F5F2;
  &_img {
    width: 500px;
    height: 436px;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &_sm-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #5A6482;
    margin-top: 20px;
    &:before {
      content: "*";
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #F46752;
    }
  }
  &_right-part {
    padding-left: 96px;
  }
  &_title {
    font-weight: 600;
    margin: 26px 0 19px;
  }
  &_desc {
    margin-bottom: 26px;
  }
}
/*SECTION FUTURE*/
/* SECTION TECHNOLOGY*/
.technology {
  padding: 148px 0 164px;
  &_title{
    margin: 27px 0 35px;
  }
  &_desc {
    margin-bottom: 15px;
    max-width: 483px;
  }
  &_img {
    position: relative;
    width: 542px;
    height: 510px;
    & img {
      position: relative;
      z-index: 10;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &_dots {
    position: absolute;
    top: -35px;
    left: -45px;
  }
  &_comment {
    position: absolute;
    z-index: 11;
    width: 326px;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 22px;
    line-height: 28px;
    color: #1D253C;
    background: #FFFFFF;
    box-shadow: 3px 4px 34px rgba(66, 71, 77, 0.11);
    border-radius: 5px;
    bottom: -25px;
    left: -60px;

  }
}
/* SECTION TECHNOLOGY*/
/* SECTION INSURANCE */
.insurance {
  position: relative;
  padding: 91px 0 85px;
  background: #F8F8F8;
  &_title {
    margin: 30px 0 37px;
  }
  &_desc {
    padding: 0 90px;
    text-align: center;
    margin-bottom: 41px;
  }
  & .grid {
    width: 100%;
    grid-column-gap: 70px;
  }
  &_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 310px;
    background: #FFFFFF;
    box-shadow: 0 2px 40px rgba(0, 0, 0, 0.04);
    &.card_first {
      padding-top: 70px;
    }
    &.card_second {
      padding-top: 30px;
    }
    &.card_third {
      padding-top: 44px;
    }
  }
  &_card.card_first {
    & .insurance_sm-title {
      margin: 15px 0 5px;
    }
    & .insurance_sm-desc {
      width: 212px;
      & a {
        text-decoration: underline;
        color: #1D253C;
      }
    }
  }
  &_card.card_second {
    & .insurance_sm-desc {
      width: 258px;
      text-align: center;
      margin-top: 15px;
    }
  }
  &_card.card_third {
    & .insurance_sm-title {
      margin: -2px 0 10px;
    }
    & .insurance_sm-desc {
      font-size: 16px;
      text-align: center;
      color: #5A6482;
      width: 244px;
    }
  }
  &_sm-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    color: #1D253C;
  }
  &_sm-desc {
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    color: #5A6482;
  }
  &_umb {
    position: absolute;
    top: -110px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  &_dog {
    position: absolute;
    z-index: 5;
    right: 0;
    bottom: -30px;
  }
}
/* SECTION INSURANCE */
/* SECTION STEPS */
.steps {
  position: relative;
  padding: 120px 0 101px;
  background: #363839;
  text-align: center;
  &_subtitle {
    font-weight: 500;
  }
  &_title {
    margin: 26px 0 15px;
    color: #FFFFFF;
  }
  &_desc {
    max-width: 650px;
    line-height: 30px;
    color: #ACB4BF;
    margin: 0 auto;
  }
  &_content {
    position: relative;
    height: 195px;
    margin: 63px 0 36px;
  }
  &_sm-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
  }
  &_sm-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #ACB4BF;
  }
  &_left-part .steps_sm-title {
    margin-bottom: 8px;
  }
  &_center-part .steps_sm-title {
    margin-bottom: 14px;
  }
  &_right-part .steps_sm-title {
    margin-bottom: 8px;
  }
  &_left-part {
    position: absolute;
    width: 234px;
    left: 66px;
    bottom: -4px;
  }
  &_center-part {
    position: absolute;
    width: 234px;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 23px;
  }
  &_right-part {
    position: absolute;
    width: 256px;
    right: 25px;
    bottom: 22px;
  }
  &_one {
    position: absolute;
    z-index: 4;
    top: 3px;
    left: 167px;
  }
  &_two {
    position: absolute;
    top: 10px;
    z-index: 4;
    left: 1px;
    right: 0;
    margin: 0 auto;
  }
  &_three {
    position: absolute;
    z-index: 4;
    top: 0;
    right: 162px;
  }
  &_circle1 {
    position: absolute;
    top: 24px;
    left: 182px;
    z-index: 3;
  }
  &_circle2 {
    position: absolute;
    left: 0;
    right: 20px;
    margin: 0 auto;
    z-index: 3;
    top: 24px;
  }
  &_circle3 {
    position: absolute;
    right: 174px;
    top: 10px;
  }
  &_path {
    position: absolute;
    top: 17px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
  }
  &_confetti {
    position: absolute;
    bottom: 100px;
    right: -167px;
  }
  &_drop1 {
    position: absolute;
    left: 78px;
    top: -13px;
  }
  &_drop2 {
    position: absolute;
    left: 347px;
    top: 1px;
  }
}
/* SECTION STEPS */
/*  SECTION FREE*/
.free {
  padding: 148px 0 164px;
  background: #F9F5F2;
  &_img {
    position: relative;
    width: 542px;
    height: 510px;
  }
  &_img img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &_dots {
    position: absolute;
    top: -35px;
    left: -45px;
  }
  &_comment {
    position: absolute;
    bottom: -26px;
    right: 44px;
    z-index: 2;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    background: #FFFFFF;
    box-shadow: 3px 4px 34px rgb(66 71 77 / 11%);
    border-radius: 5px;
    color: #1D253C;
    padding: 11px 18px;
  }
  &_right-part {
    padding-left: 95px;
  }
  &_title {
    width: 496px;
    margin: 30px 0 24px;
  }
  &_desc {
    margin-bottom: 23px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: #5A6482;
  }
}
/*  SECTION FREE*/
/* SECTION CARDS*/
.cards {
  padding: 160px 0 132px;

  &_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 323px;
    padding: 40px 52px 35px 22px;

    &-blue {
      background: rgba(169, 216, 255, 0.3);

      & .cards_title, & .cards_link {
        color: #7CAFDD;
      }
    }

    &-orange {
      background: rgba(255, 174, 104, 0.3);

      & .cards_title, & .cards_link {
        color: #E79751;
      }
    }

    &-red {
      background: rgba(250, 82, 64, 0.3);

      & .cards_title, & .cards_link {
        color: #FA5240
      }
    }

    &-green {
      background: rgba(18, 111, 133, 0.3);

      & .cards_title, & .cards_link {
        color: #126F85
      }
    }
  }

  &_title {
    font-weight: 600;
    font-size: 34px;
    line-height: 42px;
  }

  &_desc {
    position: absolute;
    top: 147px;
    left: 22px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #5A6482;
  }
  &_link {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }
  & .grid {
    grid-column-gap: 20px;
  }
}



/* SECTION CARDS*/

